In [ ]:
import pandas as pd

In [24]:
df_interaction = pd.read_csv("Dataset/server_interaction.csv")

In [25]:
df_interaction.head()

,user_id,user_name,server_id,server_name,rating,server_category
0,user_01c9fb9caa27,Sophia Brown,9550bcac-6844-472f-b142-8bff64f42009,Art Lounge Connect,1.0,"[3, 12]"
1,user_135b81fdbcd2,John Smith,f08a46ea-b680-46d7-8e6e-ffe744b2497b,Gaming Hub Connect,NaN,[13]
2,user_135b81fdbcd2,John Smith,83d39e6b-ce67-468d-872e-956e277e8b4c,Gaming Hub Circle,2.0,"[4, 14, 3]"
3,user_135b81fdbcd2,John Smith,62c7b792-6424-4f36-adba-f1fe8e4e96bc,Study Zone Circle,2.0,[7]
4,user_135b81fdbcd2,John Smith,8bf6e9ec-50d8-4e17-af1f-516deb6c7ae1,Art Lounge Circle,4.0,"[7, 4, 13]"

In [26]:
df_user = df_interaction.groupby(['user_id', 'user_name'])['server_category'].apply(
    lambda x: sorted(set(item for sublist in x.apply(eval) for item in sublist))
).reset_index()

df_user.rename(columns={'server_category': 'interest'}, inplace=True)
df_user['user_num'] = range(len(df_user))

output_path = "Dataset/user_data.csv"
df_user.to_csv(output_path, index=False)

In [29]:
df_user.head()

,user_id,user_name,interest,user_num
0,user_000079613cbf,Emma Wilson,"[3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15]",0
1,user_0000b1756c2b,Noah Taylor,"[3, 4, 5, 7, 9, 13]",1
2,user_000138baf092,John Wilson,"[3, 4, 6, 8, 9, 10, 11, 13, 14]",2
3,user_0001e82b5908,Noah Taylor,"[2, 3, 6, 8, 9, 11, 12, 13, 15]",3
4,user_0002454e2a97,Olivia Brown,"[1, 4, 7, 8, 10, 11, 12, 13, 15]",4

In [30]:
df_server = df_interaction.groupby(['server_id', 'server_name'])['server_category'].apply(
    lambda x: sorted(set(item for sublist in x.apply(eval) for item in sublist))
).reset_index()

df_server['server_num'] = range(len(df_server))

output_path_server = "Dataset/server_data.csv"
df_server.to_csv(output_path_server, index=False)

In [31]:
df_server.head()

,server_id,server_name,server_category,server_num
0,0007f352-7249-45f2-a8fa-3e9e68211472,Finance World Corner,"[1, 12, 13]",0
1,002468de-aae1-42a0-8e61-1609d8df4269,Finance World Corner,"[8, 12]",1
2,014f84ea-afd2-482a-974a-51a2aa81c1c2,Art Lounge Corner,[11],2
3,01ffb523-c74e-430d-bd9d-8f794f2d1eaf,Tech Talks Fans,[4],3
4,0259a8db-4a52-492a-a0c8-fed4945fd2c8,Art Lounge Fans,"[2, 11]",4

In [34]:
df_user.shape

(20000, 4)