In [1]:
import ast
import numpy as np
import pandas as pd
from recommendation_model import RecommendationSystem

c:\Projects\ConnecTeam Server Recommendation\.venv\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [2]:
interaction_data = [
    {
        "user_id": "u1",
        "user_name": "John",
        "server_id": "s1",
        "server_name": "TechServer",
        "rating": 5,
        "server_category": "[1, 2, 3]"
    },
    {
        "user_id": "u2",
        "user_name": "Jane",
        "server_id": "s2",
        "server_name": "MusicServer",
        "rating": 4,
        "server_category": "[3, 4]"
    },
    {
        "user_id": "u3",
        "user_name": "Mike",
        "server_id": "s3",
        "server_name": "GameServer",
        "rating": 5,
        "server_category": "[1, 4, 5]"
    },
    {
        "user_id": "u4",
        "user_name": "Anna",
        "server_id": "s4",
        "server_name": "ArtServer",
        "rating": 3,
        "server_category": "[6, 7]"
    },
    {
        "user_id": "u5",
        "user_name": "Lisa",
        "server_id": "s5",
        "server_name": "MusicTease",
        "rating": 4,
        "server_category": "[3, 4]"
    },
    {
        "user_id": "u2",
        "user_name": "Jane",
        "server_id": "s3",
        "server_name": "GameServer",
        "rating": 4,
        "server_category": "[1, 4]"
    },
    {
        "user_id": "u1",
        "user_name": "John",
        "server_id": "s4",
        "server_name": "ArtServer",
        "rating": 2,
        "server_category": "[6, 7]"
    },
    {
        "user_id": "u3",
        "user_name": "Mike",
        "server_id": "s1",
        "server_name": "TechServer",
        "rating": 3,
        "server_category": "[1, 2, 3]"
    },
    {
        "user_id": "u5",
        "user_name": "Lisa",
        "server_id": "s2",
        "server_name": "MusicServer",
        "rating": 5,
        "server_category": "[3, 4]"
    },
    {
        "user_id": "u4",
        "user_name": "Anna",
        "server_id": "s6",
        "server_name": "CookingServer",
        "rating": 5,
        "server_category": "[8]"
    },
    {
        "user_id": "u2",
        "user_name": "Jane",
        "server_id": "s6",
        "server_name": "CookingServer",
        "rating": 4,
        "server_category": "[8]"
    },
    {
        "user_id": "u1",
        "user_name": "John",
        "server_id": "s3",
        "server_name": "GameServer",
        "rating": 5,
        "server_category": "[1, 4, 5]"
    },
    {
        "user_id": "u4",
        "user_name": "Anna",
        "server_id": "s1",
        "server_name": "TechServer",
        "rating": 3,
        "server_category": "[1, 2, 3]"
    }
]

In [3]:
df_interaction = pd.DataFrame(interaction_data)

In [4]:
df_server = df_interaction.groupby(['server_id', 'server_name'])['server_category'].apply(lambda x: sorted(set(item for sublist in x.apply(ast.literal_eval) for item in sublist))).reset_index()

In [5]:
df_user = df_interaction.groupby(['user_id', 'user_name'])['server_category'].apply(lambda x: sorted(set(item for sublist in x.apply(ast.literal_eval) for item in sublist))).reset_index()

In [6]:
df_category = pd.read_csv("Dataset\server_category.csv")

In [7]:
df_user['user_num'] = range(len(df_user))
df_server['server_num'] = range(len(df_server))

In [8]:
recommender = RecommendationSystem()

In [9]:
prep_result = recommender.prepare_data(df_interaction, df_server, df_user, df_category)

In [10]:
train_result = recommender.train_model()

Precision@k: 0.4400
Recall@k: 0.8667
AUC: 0.4778

In [11]:
recommendations = recommender.get_recommendations("u1")

Top server indices and scores:
Index: 1, Score: 1.7978172302246094
Index: 2, Score: 1.7192625999450684
Index: 0, Score: 1.6827841997146606

In [12]:
np.arange(len(recommender.df_server))

array([0, 1, 2, 3, 4, 5])

In [13]:
test = recommender.df_interaction[recommender.df_interaction['user_num'] == 0]['server_num']

In [14]:
test

0     0
6     3
11    2
Name: server_num, dtype: int64

In [15]:
df_server[~df_server['server_num'].isin(test.values)]

  server_id    server_name server_category  server_num
1        s2    MusicServer          [3, 4]           1
4        s5     MusicTease          [3, 4]           4
5        s6  CookingServer             [8]           5

In [16]:
df_server[df_server['server_num'].isin(test.values)]

  server_id server_name server_category  server_num
0        s1  TechServer       [1, 2, 3]           0
2        s3  GameServer       [1, 4, 5]           2
3        s4   ArtServer          [6, 7]           3